body {
  background-color: lightyellow;
  display: block;
  margin: 60px auto;
  max-width: 800px;
  text-align: center;
}

p {
  line-height: 2em;
  margin: 30px auto;
}

a {
  color: green;
  margin: 15px;
}

img {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.navigation-links {
  margin: 30px;
}

#email {
  margin: 0;
}
